<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.mapper.BookMapper">
	<select id="selectBookList" resultType="BookVo">
	SELECT *
	FROM
	    book
	</select>

	<select id="selectBook" resultType="BookVo">
	SELECT *
	FROM
	    book
	WHERE
	    bookid = #{bookId}
	</select>

	<insert id="insertBook">
	INSERT INTO
	    book(bookid, bookname, publisher, price)
	VALUES
	    (#{bookId}, #{bookName}, #{publisher}, #{price})
	</insert>

	<delete id="deleteBook">
	DELETE FROM
				book
	       WHERE
				bookid = #{bookId}
	</delete>

</mapper>